@use '../../../styles/vars' as *;

.infoTooltip {
  position: absolute;
  width: 400px;
  height: 100px;
  background-color: $success;
  bottom: 50px;
  right: 50px;
  border-radius: 8px;
  color: $additonal;
  font-size: 24px;
  font-family: $secondFont;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  // opacity: 0;
}

@include laptop {
  .largeButton {
    padding: 14px 52px 18px 52px;
    max-width: 345px;
  }
}

@include mobile {
  .largeButton {
    padding: 14px 0px 18px 0px;
    max-width: 280px;
    font-size: 22px;
  }
}
