@use '../../../styles/vars' as *;

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  margin-left: 48px;
  margin-right: 48px;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 1000;

  &__rightSide {
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__rightSide-menu {
    display: flex;
    gap: 33px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: $secondFont;
    cursor: pointer;
    color: $primary;
  }

  &__rightSide-item {
    padding: 6px 16px;
    border-radius: 8px;
  }

  &__rightSide-item:hover {
    background-color: $inputBg;
  }
  &__rightSide-item_open {
    background-color: $inputBg;
  }
}

@include laptop {
  .header {
    margin-top: 24px;
  }
}

@include tablet {
  .header {
    margin-top: 16px;
    margin-left: 36px;
    margin-right: 34px;
  }
}

@include mobile {
  .header {
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 16px;
  }
}
