@use '../../../styles/vars' as *;

.header {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  background-color: $additonal;
  z-index: 1000;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 21px;
  padding-bottom: 21px;
  &_border {
    border-bottom: 1px solid #dedede;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 1344px;
    width: 100%;
  }
  &__rightSide {
    display: flex;
    align-items: center;
    gap: 23px;
  }

  &__rightSide-menu {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: $secondFont;
    cursor: pointer;
    color: $primary;
  }

  &__rightSide-item {
    padding: 6px 16px;
    border-radius: 8px;
  }

  &__rightSide-item:hover {
    background-color: $inputBg;
  }
  &__rightSide-item_open {
    background-color: $inputBg;
  }
}



@include mobile {
  .header {
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 23px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    background-color: $dark;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 23px;
    padding-bottom: 8px;
    &_border {
      border-bottom: none;
    }
  }
}
