// @font-face {
//   font-display: block;
//   font-family: Bahnschrift-Condensed;
//   font-stretch: semi-condensed;
//   src:
//     url('../assets/fonts/vrubel.woff2') format('woff2'),
//     url('../assets/fonts/vrubel.woff') format('woff');
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: Gilroy;
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src:
//     url('../assets/fonts/vrubel-light.woff2') format('woff2'),
//     url('../assets/fonts/vrubel-light.woff') format('woff');
// }

// @font-face {
//   font-family: vrubel;
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
//   src:
//     url('../assets/fonts/vrubel.woff2') format('woff2'),
//     url('../assets/fonts/vrubel.woff') format('woff');
// }

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff');
}

// @font-face {
//   font-family: vrubel;
//   font-style: normal;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     url('../assets/fonts/vrubel-bold.woff2') format('woff2'),
//     url('../assets/fonts/vrubel-bold.woff') format('woff');
// }

// @font-face {
//   font-family: Circe;
//   font-style: light;
//   font-weight: 300;
//   font-display: swap;
//   src:
//     url('../assets/fonts/circe_light.woff2') format('woff2'),
//     url('../assets/fonts/circe_light.woff') format('woff');
// }

// @font-face {
//   font-family: Circe;
//   font-style: bold;
//   font-weight: 700;
//   font-display: swap;
//   src:
//     url('../assets/fonts/circe_bold.woff2') format('woff2'),
//     url('../assets/fonts/circe_bold.woff') format('woff');
// }
