@use '../../../styles/vars' as *;

.smallRangeInput {
  display: flex;
  flex-direction: column;
  max-width: 427px;
  width: 100%;
  position: relative;

  &__label {
    @include label;
  }

  &__container {
    margin-top: 24px;
    border-radius: 16px;
    background-color: $inputBg;
    border: none;
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
  }

  &__inputText {
    font-size: 20px;
    background-color: #ebebec;
    width: 72px;
    border-radius: 16px;
    border: none;
    margin-right: 5px;
    margin-bottom: 0px;

    padding: 15px 17px;
    font-family: $mainFont;
    color: $primary;
    font-weight: 600;
  }
  &__inputRange {
    align-self: center;
    margin-top: -2px;
    -webkit-appearance: none;
    height: 2px;
    width: 90%;
  }
  &__inputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: $secondary;
    position: relative;
    z-index: 2;
  }
  &__inputRange::-moz-range-thumb {
    background-color: $secondary;
    border: none;
  }

  &__sum {
    font-family: $mainFont;
    font-size: 30px;
    color: $primary;
    font-weight: 600;
    margin-left: 28px;
  }
  &__inputSign {
    position: absolute;
    right: 5%;
    font-size: 20px;

    font-family: $mainFont;
    color: $primary;
    font-weight: 600;
  }
  &__error {
    @include errorText;
    position: absolute;
    bottom: -25px;
  }
}

@include laptop {
  .smallRangeInput {
    max-width: 100%;
    &__container {
      margin-top: 8px;
    }
    &__inputText {
      margin-top: 8px;
      font-size: 22px;
    }
    &__sum {
      font-size: 22px;
      color: $primary;
      bottom: 19px;
      &_outline {
        font-size: 22px;

        padding: 14px 14px;
        border-radius: 16px;
        bottom: 7px;
        right: 7px;
      }
    }
    &__inputSign {
      font-size: 22px;
      right: 15px;
      bottom: 18px;
    }
  }
}
