@use '../../../styles/vars' as *;

.gallery {
  max-width: 1344px;
  width: 100%;
  height: 473px;
  margin: 0 auto;
  position: relative;

  &__seoTitle {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
  &__slider {
    height: 473px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__contentContainer {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
  }
  &__content {
    position: absolute;
    top: 70px;
    left: 70px;
    max-width: 500px;
  }
  &__title {
    color: $additonal;
    font-family: $mainFont;
    font-size: 54px;
    line-height: 90%;
    font-weight: 600;
  }
  &__text {
    font-family: $mainFont;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $additonal;
    margin-top: 32px;
  }

  &__btn {
    margin-top: 24px;
  }
  &__image {
    margin-bottom: -5px;
  }
}

.gallery .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 44px;
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: $additonal;
}

.gallery .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}

.swiper-slide {
  overflow: hidden;
  border-radius: 32px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 696px;
    &__contentContainer {
      background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
      top: unset;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 40%;
    }
    &__content {
      top: unset;
      bottom: 68px;
      left: 44px;
      max-width: 500px;
    }
    &__text {
      display: none;
    }
    &__btn {
      max-width: 174px;
    }
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    height: 550px;
    &__title {
      font-size: 32px;
    }
    &__text {
      display: none;
    }
    &__content {
      max-width: 263px;
      bottom: 86px;
      left: 32px;
    }
  }
}

@media (max-width: 1440px) {
  .gallery {
    width: calc(100% - 96px);
  }
}

@media (max-width: 1024px) {
  .gallery {
    width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .gallery {
    width: calc(100% - 72px);
  }
}

@media (max-width: 500px) {
  .gallery {
    width: 100%;
  }
  .swiper-slide {
    border-radius: 0 0 32px 32px;
  }
}
