@use '../../../styles/vars' as *;

.gallery {
  width: 100%;
  height: 473px;
  margin: 0 auto;

  position: relative;
  max-width: 1344px;
  border-radius: 32px;

  margin-top: 21px;
  overflow: hidden;

  &__content {
    position: absolute;
    top: 70px;
    left: 70px;
    max-width: 500px;
  }
  &__title {
    color: $additonal;
    font-family: $mainFont;
    font-size: 54px;
    line-height: 90%;
    font-weight: 600;
  }
  &__text {
    font-family: $mainFont;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $additonal;
    margin-top: 32px;
  }

  &__btn {
    margin-top: 24px;
  }
}

.gallery .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 44px;
  gap: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: $additonal;
}

.gallery .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 696px;
    &__content {
      top: unset;
      bottom: 68px;
      left: 44px;
      max-width: 500px;
    }
    &__text {
      display: none;
    }
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    border-radius: 0 0 0 32px;
    height: 550px;
    margin-top: -59px;
    &__title {
      font-size: 32px;
    }
    &__text {
      display: none;
    }
    &__content {
      max-width: 263px;
      bottom: 86px;
      left: 32px;
    }

    &__btn {
      max-width: 174px;
    }
  }
}
