@use '../../../../styles/vars' as *;

.headerLeftBlock {
  display: flex;
  align-items: center;

  &__leftSide-subtitle {
    font-size: 16px;
    color: $dark;
    opacity: 0.5;
    letter-spacing: 0.92px;
    font-family: $secondFont;
  }

  &__verticalLine {
    width: 1px;
    height: 30px;
    background-color: #c4c4c4;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@include tablet {
  .headerLeftBlock {
    &__verticalLine {
      margin-left: 12px;
      margin-right: 17px;
    }
  }
}
