@use '../../../styles/vars' as *;

.smallButton {
  border: 1px solid $secondary;
  font-family: $secondFont;
  padding: 12px 24px;
  border-radius: 40px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;

  &_transparent {
    color: $secondary;
    background-color: transparent;
  }

  &_transparent:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: $additonal;
  }
  &_transparent:active {
    background-color: $secondaryLight;
    border-color: $secondaryLight;
    color: $additonal;
  }
  &_transparent:disabled {
    opacity: 40%;
    cursor: auto;
    pointer-events: none;
  }
  &_color {
    color: $additonal;
    background-color: $secondary;
  }
  &_color:hover {
    background-color: $dark;
    border-color: $dark;
    color: $additonal;
  }
  &_color:active {
    background-color: $primary;
    border-color: $primary;
    color: $additonal;
  }
  &_color:disabled {
    background-color: $secondaryLight;
    border-color: $secondaryLight;
    color: $additonal;
    cursor: auto;
    opacity: 40%;
  }
}

@include mobile {
  .smallButton {
    width: 100%;
    max-width: 280px;
    font-size: 15px;
  }
}
